# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# ML models
pretrained_models/

# Node / Front
node_modules/
dist/
build/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# 음원
.wav
.mp3
.json
# Job outputs
data/
outputs/
tmp/

# Environment
.env
.env.*

# Logs
*.log
logs/

# db
db/data/index.db

# secret
.txt
.md

# IDE
.vscode/
.idea/

# storage (important)
storage/

# python build
*.egg-info/
.eggs/

# testing
.pytest_cache/
.coverage

# sqlite
*.sqlite
*.sqlite3

# redis
dump.rdb

