# AI Framework & Core
torch
torchaudio
tensorflow
numpy

# Music Processing Core
demucs
basic-pitch
librosa
resampy
soundfile
pretty_midi

# API & Server
fastapi
uvicorn
redis

# Utilities
python-dotenv
pydantic
requests
tqdm
numpy